apiVersion: v1
metadata:
  name: observability-iam-config
  namespace: acm-install-policies
data:
  aws_account_id: ODA3NTE3MjU2NTUz
  aws_s3_role_name: TWFuYWdlZC1PcGVuU2hpZnQtSENQLWFjY2Vzcy10by1zMy1zZXJ2aWNlLXJvbGU=
type: Opaque