---
apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: "{{ app_name }}"
  namespace: "{{ app_namespace }}"
spec:
  componentKinds:
    - group: apps.open-cluster-management.io
      kind: Subscription
  selector:
    matchExpressions:
      - key: app
        operator: In
        values:
          - "{{ app_name }}"
---
apiVersion: apps.open-cluster-management.io/v1
kind: Channel
metadata:
  annotations:
    apps.open-cluster-management.io/reconcile-rate: medium
  name: install-rhdh-policies-channel
  namespace: "{{ app_namespace }}"
spec:
  type: Git
  pathname: "{{ subscription_repo_url }}"
#  secretRef: # Uncomment if using private repo
#    name: osrosa-acm-git-secret
#---
#apiVersion: v1 # Uncomment if using private repo
#kind: Secret
#metadata:
#  name: acm-groupsync-policy-git-secret
#  namespace: "{{ app_namespace }}"
#data:
#  user: cmVwbGFjZQo=
#  accessToken: cmVwbGFjZQo=
---
apiVersion: apps.open-cluster-management.io/v1
kind: Subscription
metadata:
  name: install-rhdh-policies-subscription
  namespace: "{{ app_namespace }}"
  annotations:
    apps.open-cluster-management.io/git-branch: "{{ subscription_branch }}"
    apps.open-cluster-management.io/git-path: acm-policies/install-developerhub
    apps.open-cluster-management.io/reconcile-option: replace
  labels:
    app: "{{ app_name }}"
spec:
  channel: "{{ app_namespace }}/install-rhdh-policies-channel"
  placement:
    placementRef:
      kind: PlacementRule
      name: install-rhdh-policies-placement
---
apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: install-rhdh-policies-placement
  namespace: "{{ app_namespace }}"
  labels:
    app: "{{ app_name }}"
spec:
  clusterSelector:
    matchLabels:
      name: local-cluster
...