{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Principal": {
                "Federated": "arn:aws:iam::{{ aws_account_id }}:oidc-provider/oidc.op1.openshiftapps.com/{{ oidc_id }}}"
            },
            "Action": "sts:AssumeRoleWithWebIdentity",
            "Condition": {
                "StringLike": {"oidc.op1.openshiftapps.com/{{ oidc_id }}:sub": ["system:serviceaccount:*:externalsecret-operator-config-external-secrets"]}
            }
        }
    ]
}