kind: Secret
apiVersion: v1
metadata:
  name: osrosa-quay-config-secret
  namespace: local-quay
data:
  host: "{{ s3_host | b64encode }}"
  s3_access_key: "{{ s3_access_key | b64encode }}"
  s3_bucket: "{{ s3_bucket_name | b64encode }}"
  s3_region: "{{ s3_region | b64encode }}"
  s3_secret_key: "{{ s3_secret_key | b64encode }}"
type: Opaque