---
apiVersion: v1
kind: Secret
metadata:
  name: trident-fsx-config
  namespace: "{{ app_namespace }}"
data:
  management-lif: "{{ fsx_management_lif | base64enc }}"
  data-lif: "{{ fsx_data_lif | base64enc }}"
  svm: "{{ fsx_svm | base64enc }}"