apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ acm_service_account_name }}-service-account-cluster-role-binding
  namespace: {{ acm_service_account_namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ acm_service_account_name }}
    namespace: {{ acm_service_account_namespace }}
roleRef:
  kind: ClusterRole
  name: acm-service-account-cluster-role
  apiGroup: rbac.authorization.k8s.io