apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: acm-service-account-cluster-role
rules:
  - apiGroups: [""]
    resources:
      - namespaces
      - projects
      - projectrequests
    verbs:
      - create
      - patch
      - delete