---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "{{ item.auth_target }}-managed-cluster-admins"
subjects:
  - kind: "{{ item.auth_type }}"
    name: "{{ item.auth_target }}"
{% if item.sa_namespace is defined %}
    namespace: "{{ item.sa_namespace }}"
{% endif %}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: "open-cluster-management:admin:{{ cluster_name }}"
...