apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: quay-config-store
  namespace: local-quay  ##NAMESPACE $USER_NAMESPACE (The namespace where the OCP secret is going to be created in)
spec:
  provider:
    aws:
      auth:
        jwt:
          serviceAccountRef:
            name: externalsecret-operator-config-external-secrets   ##The Service Account $SA_NAME that is going to have access to the ocp secret)
            namespace: local-quay 
      region: '{{ fromConfigMap "acm-install-policies" "aws-config" "region" }}'
      service: SecretsManager