{
	"Version": "2012-10-17",
	"Statement": [
		{
			"Effect": "Allow",
			"Principal": {
				"Federated": "arn:aws:iam::{{ aws_account_id }}:oidc-provider/oidc.op1.openshiftapps.com/{{ oidc_id }}"
			},
			"Action": "sts:AssumeRoleWithWebIdentity",
			"Condition": {
				"StringEquals": {
					"oidc.op1.openshiftapps.com/{{ oidc_id }}:sub": [
						"system:serviceaccount:open-cluster-management-observability:observability-thanos-query",
						"system:serviceaccount:open-cluster-management-observability:observability-thanos-store-shard",
						"system:serviceaccount:open-cluster-management-observability:observability-thanos-compact",
						"system:serviceaccount:open-cluster-management-observability:observability-thanos-rule",
						"system:serviceaccount:open-cluster-management-observability:observability-thanos-receive"
					]
				}
			}
		}
	]
}